<!DOCTYPE html>
<html>
<head>
  <title>Current Portfolio Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li><a href="{{ url_for('refresh_model') }}">Refresh Model</a></li>
            <li><a href="{{ url_for('top_bearish') }}">Top Bearish</a></li>
            <li><a href="{{ url_for('top_bullish') }}">Top Bullish</a></li>
          </ul>
        </nav>
    </header>
    <h1>Current Portfolio Page</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Ticker</th>
                <th># of Shares</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
                <tr>
                    <td><a href = "stock_info/{{ record[0] }}">{{ record[0] }}</a></td> 
                    <td>{{ record[1] }}</td>
                    <td>${{ record[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2 style="padding: 4ch;">Total Value of Portfolio: <span style="color: lime;">${{ tot_val }}</span></h2>
    <a href = "/add_stock" style="margin-left: 10ch;"><span style="font-size: 26px;">Add a new stock</span></a>
</body>
</html>
