<!DOCTYPE html>
<html>
<head>
  <title>Refresh Model Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li><a href="{{ url_for('current_portfolio') }}">Current Portfolio</a></li>
            <li><a href="{{ url_for('top_bearish') }}">Top Bearish</a></li>
            <li><a href="{{ url_for('top_bullish') }}">Top Bullish</a></li>
          </ul>
        </nav>
    </header>
    <h1>Refresh Model Page</h1>
</body>
</html>
