<!DOCTYPE html>
<html>
<head>
  <title>Stock Price</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li><a href="{{ url_for('refresh_model') }}">Refresh Model</a></li>
            <li><a href="{{ url_for('current_portfolio') }}">Current Portfolio</a></li>
            <li><a href="{{ url_for('top_bearish') }}">Top Bearish</a></li>
            <li><a href="{{ url_for('top_bullish') }}">Top Bullish</a></li>
            <li><a href="{{ url_for('stock_tickers') }}">Stock Tickers</a></li>
          </ul>
        </nav>
    </header>
    <h1>Stock Price for {{ ticker }}</h1>
    <p>The current price of {{ ticker }} is ${{ price }}.</p>
</body>
</html>
