<!DOCTYPE html>
<html>
<head>
  <title>Top Bullish Page</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li><a href="{{ url_for('refresh_model') }}">Refresh Model</a></li>
            <li><a href="{{ url_for('current_portfolio') }}">Current Portfolio</a></li>
            <li><a href="{{ url_for('top_bearish') }}">Top Bearish</a></li>
          </ul>
        </nav>
    </header>
    <h1>Top Bullish Page</h1>
</body>
</html>
